
$gray-1: white;
$gray-2: #ddddd5;
$gray-3: #d1d1c7;
$gray-4: #666666;
$gray-5: #4d4d4d;
$gray-6: #262626;
$gray-7: #0e0e0c;

$green-1: #aeae9d;
$green-2: #8c8c73;


$txt-sm-1: 0.4rem;
$txt-sm-2: 0.5rem;
$txt-sm-3: 0.7rem;
$txt-sm-4: 0.9rem;

$txt-nm-1: 1rem;
$txt-nm-2: 1.2rem;
$txt-nm-3: 1.4rem;
$txt-nm-4: 1.6rem;
$txt-nm-5: 1.8rem;
$txt-nm-6: 2rem;

$txt-l-1: 2.5rem;
$txt-l-2: 2.9rem;
$txt-l-3: 3.2rem;
$txt-l-4: 3.4rem;
$txt-l-5: 3.8rem;
$txt-l-6: 4.3rem;
$txt-l-7: 5rem;
$txt-l-8: 6rem;

$txt-rsp-1: 3vw;
$txt-rsp-2: 6.6vw;
$txt-rsp-3: 10vw;
$txt-rsp-4: 15vw;
$txt-rsp-5: 25vw;
$txt-rsp-6: 35vw;
$txt-rsp-7: 45vw;

$pd-sm-1: 0.4rem;
$pd-sm-2: 0.6rem;
$pd-sm-3: 0.8rem;
$pd-sm-4: 1rem;
$pd-sm-5: 1.2rem;

$pd-nm-1: 1.4rem;
$pd-nm-2: 1.6rem;
$pd-nm-3: 1.8rem;
$pd-nm-4: 2.2rem;
$pd-nm-5: 2.6rem;

$pd-l-1: 3rem;
$pd-l-2: 3.6rem;
$pd-l-3: 4.2rem;
$pd-l-4: 4.8rem;
$pd-l-5: 5.5rem;
$pd-l-6: 6rem;
$pd-l-7: 7rem;

$mg-sm-1: 1rem;
$mg-sm-2: 1.2rem;
$mg-sm-3: 1.4rem;
$mg-sm-4: 1.8rem;
$mg-sm-5: 2rem;

$mg-nm-1: 2.4rem;
$mg-nm-2: 2.8rem;
$mg-nm-3: 3.2rem;
$mg-nm-4: 3.6rem;
$mg-nm-5: 4rem;

$mg-l-1: 4.8rem;
$mg-l-2: 5.4rem;
$mg-l-3: 6rem;
$mg-l-4: 6.6rem;
$mg-l-5: 7.2rem;
$mg-l-6: 8rem;